/* DICHIARAZIONI BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #FFF;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.1em;
}

.container {
    width: 70%;
    margin: auto;
}

.blue-button {
    padding: 10px 20px;
    background-color: #0061FF;
    color: #FFF;
    text-align: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* HEADER */
/* Top bar */
#top-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    min-width: 1200px;
    width: 100vw;
    background-color: #FFF;
    text-align: center;
}
#top-bar > .container {
    display: flex;
    width: 100%;
    margin: 30px auto;
    padding: 0 20px;
    justify-content: space-between;
    gap: 15px;
}

#top-bar logo {
    height: 35px;
}

#top-bar nav ul {
    list-style: none;
    display: inline-block;
}

#top-bar nav:nth-child(2) {
    margin-right: auto;
}

#top-bar nav ul li {
    display: inline-block;
    margin: auto 20px;
}

/* Jumbotron */
#jumbotron {
    position: static;
    background-color: #B4D0E7;
    padding-top: 150px;
    margin-bottom: -100px;
}

#jumbotron > .container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#jumbotron > .container * {
    margin-bottom: 50px;
}

#jumbotron h1 {
    display: block;
    flex-basis: 100%;
}

#jumbotron > .container > div {
    width: 30%;
}

#jumbotron .annulla {
    margin-top: 15px;
    font-size: 0.8em;
}

#jumbotron img {
    width: 70%;
}

#jumbotron .fas {
    font-size: 3em;
}

/* MAIN */

main {
    background-color: #FFF;
}

main section {
    padding: 100px 0;
}


/* Plans */
.plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main > section:nth-child(1) {
    padding-top: 150px;
}

main > section > h2 {
    margin-bottom: 50px;
}

main > section .fatturazione {
    margin-bottom: 25px;
}

main > section .fatturazione > label {
    cursor: pointer;
    margin-right: 25px;
}

main > section .fatturazione input[type="radio"] {
    appearance: none;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #D0D0D3;
    border-radius: 50%;
    transition: 0.5s;
}

main > section .fatturazione input[type="radio"]:checked {
    background-color: #FFF;
    box-shadow: 0 0 0 5px #0061FF inset;
}

.colonna {
    width: 30%;
    border: 1px solid #D0D0D3;
}

.colonna .titoletto {
    padding: 10px;
    border-bottom: 1px solid #D0D0D3;
    text-align: center;
}

.colonna .contenuto {
    margin: 25px;
    padding-bottom: 100px;
    font-size: 0.9em;
}

.colonna .contenuto > * {
    display: block;
    margin-bottom: 15px;
}

.colonna .prezzo {
    font-weight: bold;
}

.colonna .rinnovo {
    color: #8a8a8a;
    margin-bottom: 50px;
}

.colonna .buy-now {
    color: #0061FF;
    text-decoration: underline;
}

.colonna hr {
    border: 1px solid #D0D0D3;
    width: 50px;
}

.colonna h6 {
    margin-top: 50px;
}

.colonna ul {
    list-style: none;
}

.colonna ul li {
    margin: 15px auto;
}

.colonna ul li::before {
    content: "✓";
    color: #0061FF;
    font-weight: bold;
    margin-right: 5px;
}

.colonna:nth-child(4) {
    flex-basis: 100%;
    margin-top: 50px;
}

.colonna:nth-child(4) .contenuto {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0;
}

.colonna:nth-child(4) h6 {
    margin: 15px 0;
}

.colonna:nth-child(4) .blue-button  {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
}

/* Parther */
.partner {
    display: flex;
    gap: 5%;
}

.partner img {
    width: 50%;
}

.partner h3 {
    margin: 50px 0;
}

.partner p {
    line-height: 2em;
}

.partner-button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid #000;
    transition: 0.5s;
}

.partner-button:hover {
    background-color: #000;
    color: #FFF;

}

/* Business */
.griglia-business {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 10%;
}
.griglia-business div {
    width: 30%;
}

.griglia-business img {
    width: 100%;
}

.griglia-business h3 {
    margin: 20px 0;
}

main > section:nth-child(3) a {
    text-decoration: underline;
}

/* Team */
main > section:nth-child(4) a {
    color: #0061FF;
    text-decoration: underline;
}

.griglia-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    margin: 100px 0 0 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.griglia-team > div:nth-child(2) {
    padding: 50px;
    background-color: #F5F5F5;
    flex-grow: 1;
    width: 30%;
    min-width: 400px;
}

.griglia-team > div:nth-child(2) .logo-team {
    filter: invert(0);
    height: auto;
    width: 200px;
    padding: 0;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
}

.griglia-team > div:nth-child(2) hr {
    border: 1px solid #D0D0D3;
    width: 50px;
}

.griglia-team > div:nth-child(2) blockquote {
    margin: 50px 0;
}

.griglia-team > div:nth-child(2) address {
    font-style: normal;
}

.griglia-team > div:nth-child(1), .griglia-team > div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.griglia-team > div > img {
    width: 250px;
    height: 250px;
    padding: 50px;
    filter: invert(1);
}

.griglia-team > div > img[src="img/designit.svg"] {
    background-color: #5D2C64;
    border: 10px solid #2F1632;
}

.griglia-team > div > img[src="img/arizona_state_university.svg"] {
    background-color: #9EF7D4;
}

.griglia-team > div > img[src="img/university_of_florida.svg"] {
    background-color: #FF6C31;
}

.griglia-team > div > img[src="img/topps.svg"] {
    background-color: #00E3E3;
}

.griglia-team > div > img[src="img/world_bicycle_relief.svg"] {
    background-color: #2AFFE0;
}

.griglia-team > div > img[src="img/hearst_corp.svg"] {
    background-color: #4B2F18;
}

.griglia-team > div > img[src="img/lonely_planet.svg"] {
    background-color: #F2DB7E;
}
.griglia-team > div > img[src="img/clear_channel.svg"] {
    background-color: #0027CF;
}

/* Prova gratuita */
#prova {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: #B4D0E7;
    padding: 150px;
}

#prova .container {
    display: flex;
    justify-content: space-between;
}

#prova h2 {
    color: #61082B;
}

#prova .try-button {
    display: block;
    height: fit-content;
    padding: 10px 100px;
    color: #000;
    background-color: #FFF;
    text-decoration: none;


}