/* DICHIARAZIONI BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.container {
    width: 75%;
}

.blue-button {
    padding: 5px 20px;
    background-color: #0061FF;
    color: #FFF;
}

.break {
    flex-basis: 100%;
    height: 0;
}

/* HEADER */
/* Top bar */
#top-bar {
    position: fixed;
    top: 0;
    min-width: 1300px;
    width: 100vw;
    background-color: #FFF;
    text-align: center;
}
#top-bar > .container {
    display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    justify-content: space-between;
    gap: 15px;
}

#top-bar logo {
    height: 35px;
}

#top-bar nav ul {
    list-style: none;
    display: inline-block;
}

#top-bar nav:nth-child(2) {
    margin-right: auto;
}

#top-bar nav ul li {
    display: inline-block;
    margin: auto 20px;
}

/* Jumbotron */
#jumbotron {
    position: static;
    background-color: #B4D0E7;
    padding-top: 150px;
}

#jumbotron > .container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#jumbotron > .container * {
    margin-bottom: 50px;
}

#jumbotron h1 {
    display: block;
    flex-basis: 100%;
}

#jumbotron > .container > div {
    width: 30%;
}

#jumbotron .annulla {
    margin-top: 15px;
    font-size: 0.8em;
}

#jumbotron img {
    width: 70%;
}

#jumbotron .fas {
    font-size: 3em;
}


